@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Poppins", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h2 {
    font-weight: 600;
    font-size: 28px;
    text-align: center;
}

#main_section {
    background-color: #f2f5fd;
    margin: 20px auto;
    width: 1200px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

.leftSection {
    width: 40%;
}

.RightSection p {
    margin: 50px 30px;
    padding-right: 250px;
}

.Form {
    margin: 30px;
}

.forminput {
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 5px;
    width: fit-content;
    margin: 0 10px;
    font-size: 16px;
    border: #fff 0.1px solid;
    transition: 0.2s linear 0.2s all;
}

#priceinput {
    width: 100px;
}

#emailinput {
    width: 200px;
}

.forminput:focus,
.Select_Coin:focus {
    border: #0c5df7 0.1px solid;
}

.Select_Coin {
    line-height: 10px;
    outline: 0;
    border-radius: 5px;
    border: #fff 0.1px solid;
    margin-right: 10px;
    padding: 10px 20px;
    transition: 0.1s ease all;
}

.Select_Coin:nth-of-type(2) {
    margin-left: 10px;
}

.RightSection {
    width: 60%;
}

.Set_Alert_Btn {
    border: none;
    background-color: #0c5df7;
    color: #fff;
    margin: 70px 200px;
    padding: 14px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.Set_Alert_Btn:hover {
    background-color: #135feb;
}

#coins_prices {
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    width: fit-content;
}

.price_rect {
    cursor: pointer;
    width: 230px;
    height: 70px;
    text-align: center;
    padding: 10px 0;
    font-weight: 600;
    border-radius: 5px;
    transition: all 0.2s linear 0.1s;
    font-size: 12px;
}

.price {
    font-size: 17px;
}

.activeprice {
    color: #00bc8b;
}

.activerect {
    background-color: #f2f5fd;
}

@media screen and (max-width: 1000px) {
    #main_section {
        width: 90%;
        align-items: center;
        justify-content: center;
        justify-items: center;
        flex-direction: column-reverse;
    }
    .RightSection {
        width: 100%;
    }
    .Set_Alert_Btn {
        margin: 12px 0;
    }
    #priceinput {
        margin: 12px 0px;
    }
    .RightSection p {
        padding: 0;
    }
    #coins_prices {
        margin: 20px;
    }
}