@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Poppins", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h2 {
  font-weight: 600;
  font-size: 28px;
  text-align: center;
}
#main_section {
  background-color: #f2f5fd;
  margin: 20px auto;
  width: 1200px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
}
.leftSection {
  width: 40%;
  /* height: 304.79px; */
}
.RightSection p {
  margin: 50px 30px;
  padding-right: 250px;
}
.Form {
  margin: 30px;
}
.forminput {
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 5px;
  width: 200px;
  margin: 0 10px;
  font-size: 16px;
}
#Select_Coin {
  line-height: 10px;
  outline: 0;
  border-radius: 5px;
  border: 0px;
  padding: 10px 20px;
}
.RightSection {
  width: 60%;
}

@media screen and (max-width: 1000px) {
  #main_section {
    width: 100%;
  }
  .RightSection {
    width: 100%;
  }
}
